<!DOCTYPE html>
<html>
<head>
    <title>@@title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=viewport content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/vs.min.css"/>
    <style>

        @@css

    </style>
</head>
<body>
	<div id="banner">
		<div id="updated">

			@@updated

		</div>
	</div>
    <div id="markdown">

        @@markdown

    </div>
    <div id="content">

        <h3> ¯\_(ツ)_/¯  </h3>

    </div>
    <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script type="text/javascript"
      src="https://cdn.jsdelivr.net/gh/crookedneighbor/markdown-it-link-attributes@9891626a0563d5b5a03758ccb2d162da80e4aa5a/dist/markdown-it-link-attributes.min.js"/>
    </script>
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.0/markdown-it.min.js">
    </script>
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js">
    </script>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script>
        var md = markdownit({
          html: true,
          linkify: true,
          breaks: true
        });
        md.use(markdownitLinkAttributes, [{
          pattern: /^docs/,
          attrs: {
            target: '_blank',
            rel: 'noopener'
          }
        }, {
          pattern: /^https?:\/\//,
          attrs: {
            target: '_blank',
            rel: 'noopener'
          }
        }, {
          pattern: /^http?:\/\//,
          attrs: {
            target: '_blank',
            rel: 'noopener'
          }
        }]);
        $('#content').html(md.render($('#markdown').html().
          replace(/&lt;/g, '<').
          replace(/&gt;/g, '>').
          replace(/&amp;/g, '&')));
        $('h2').each(function () {
          var self = $(this);
          var contents = self.nextUntil('h2');
          $(contents).wrapAll('<section />');
        });
        $('h1').click(function (event) {
          $('section').toggle();
        });
        $('h2').click(function (event) {
          $(event.target).next().toggle();
        });
        hljs.initHighlightingOnLoad();
    </script>
</body>
</html>
